[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/cs"]
	path = vim/bundle/cs
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/goyo"]
	path = vim/bundle/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/bundle/vim-flavored-markdown"]
	path = vim/bundle/vim-flavored-markdown
	url = git://github.com/jtratner/vim-flavored-markdown.git
